package com.example.contract;

import com.credits.scapi.annotations.*;
import com.credits.scapi.v2.SmartContract;
import com.credits.scapi.v1.*;
import java.math.BigDecimal;

public class %s extends SmartContract {

    public %s() {
    }

    @Override
    public String payable(BigDecimal amount, byte[] userData) {
        return null;
    }
}