import com.credits.scapi.annotations.*;
import com.credits.scapi.v2.*;
import java.math.BigDecimal;

public class MySmartContract extends SmartContract {

    public MySmartContract() {
    }

    @Override
    public String payable(BigDecimal amount, byte[] userData) {
        return null;
    }
}